body {
  font-family: "Anek Malayalam", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: linear-gradient(#f2e8e8, #362f2f, #bb3636);
  min-height: 100vh;
}
button {
  border-style: none;
  cursor: pointer;
}
header {
  display: flex;
  align-items: center;
  justify-content: end;
  background: linear-gradient(#cc0505, #8b0c0c);
  padding: 30px;
  position: relative;
  overflow: hidden;
}
main {
  position: relative;
  padding: 25px 35px 25px 35px;
}
.logo {
  position: absolute;
  height: 60px;
  min-width: 60px;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}
.search-input {
  border: 2px solid rgb(11, 11, 11);
  border-radius: 10px;
  padding: 10px;
  content: "";
  width: 143px;
}
.search-button-icon {
  font-weight: 500;
  color: #0b0b0b;
}
.search-container {
  position: relative;
  z-index: 1;
  gap: 10px;
  display: flex;
  align-items: center;
  right: 14px;
  width: 220px;
}
.search-button {
  background-color: rgb(236, 236, 236);
  border: 2px solid black;
  border-radius: 100%;
  min-width: 50px;
  min-height: 50px;
  font-size: 1.25em;
  cursor: pointer;
}
.search-container::before,
.search-container::after {
  content: "";
  position: absolute;
  background: linear-gradient(#dc0707, #b00505);
  width: 120%;
  height: 75%;
  border: 2px solid black;
  bottom: 45%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px 15px 0 0;
  z-index: -1;
}
.search-container::after {
  background: linear-gradient(#d8d8d8, #efebeb);
  top: 45%;
  border-radius: 0 0 15px 15px;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-gap: 20px;
  padding: 0px;
}

.navegation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pokemon-card {
  width: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #efeded;
  border-radius: 10px;
  color: #0e0e0e;
  font-weight: 400;
  position: relative;
  padding: 10px 0 30px 0;
  gap: 5px;
  cursor: pointer;
  transition: all 0.1s ease-in;
}
.pokemon-card > span {
  font-weight: 700;
  text-align: center;
}
.pokemon-card::after {
  content: "";
  position: absolute;
  background-color: #aeacac;
  width: 119px;
  height: 55px;
  top: 29%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  z-index: 0;
  filter: blur(5px);
}
.pokemon-card:hover > span {
  color: #fff;
}
.pokemon-card:hover::after {
  background-color: transparent;
}
.pokemon-card img {
  z-index: 1;
  width: 100px;
  height: 100px;
}

.types-container {
  display: flex;
  align-items: center;
  font-weight: 700;
  border-radius: 15px;
  color: #fff;
  gap: 5px;
}
.type-container > span {
  padding: 2px 5px;
  border-radius: 10px;
}

.normal {
  background-color: #555555;
}
.fire {
  background-color: #ee8130;
}
.water {
  background-color: #6390f0;
}
.electric {
  background-color: #edc00f;
}
.grass {
  background-color: #7ac74c;
}
.ice {
  background-color: #96d9d6;
}
.fighting {
  background-color: #c22e28;
}
.poison {
  background-color: #a33ea1;
}
.ground {
  background-color: #e2bf65;
}
.flying {
  background-color: #534870;
}
.psychic {
  background-color: #f95587;
}
.bug {
  background-color: #a6b91a;
}
.rock {
  background-color: #b6a136;
}
.ghost {
  background-color: #3b2b51;
}
.dragon {
  background-color: #6f35fc;
}
.dark {
  background-color: #705746;
}
.steel {
  background-color: #585864;
}
.fairy {
  background-color: #d685ad;
}

.back-button,
.next-button {
  position: fixed;
  padding: 10px;
  font-size: 1em;
  border-radius: 100%;
  z-index: 3;
  background-color: #f4f4f4;
  top: 50%;
}
.back-button {
  left: 10px;
}
.next-button {
  right: 10px;
}
.not-found{
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.25em;
  font-weight: 700;
  color: #f4f4f4;
}
.not-found span{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}
.not-found div {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}
.loading {
  z-index: 3;
  position: absolute;
  justify-content: center;
  font-size: 5em;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  height: 105%;
  top: -9px;
  background: linear-gradient(to bottom left, white, black);
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
}
.loading > img {
  position: fixed;
  top: 200px;
  left: 45%;
  transform: translateX(-50%);
  animation: rotate 1.2s infinite;
  height: 60px;
  min-width: 60px;
}

.panel-back {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 3;
}
.panel-information-container {
  display: flex;
  position: fixed;
  justify-content: flex-start;
  align-items: center;
  min-width: 245px;
  width: 60%;
  max-width: 550px;
  min-height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background-color: #f4f4f4;
  box-shadow: 5px 5px 5px #13131380;
  padding: 10px;
  border-radius: 10px;
  animation: fade-up 0.4s;
}
.panel-information {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
}
@keyframes fade-up {
  0% {
    top: 100%;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
.panel-information > span {
  font-size: 1.5em;
  font-weight: 700;
}
.panel-information > img {
  width: 70%;
  max-width: 290px;
}
.panel-types {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.panel-main-info {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.panel-close-btn {
  position: absolute;
  top: 10px;
  right: 8px;
  font-size: 1.25em;
}
.blur {
  filter: blur(10px);
}
.filter-element {
  padding: 5px;
  background-color: #f4f4f4;
  position: absolute;
  top: 0;
  left: 10px;
  border-radius: 5px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(120deg);
  }
  50% {
    transform: rotate(180deg);
  }
  65% {
    transform: rotate(300deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.filters-container {
  position: fixed;
  left: 100%;
  top: 110px;
  z-index: 3;
  width: 150px;
  height: 150px;
  transition: transform 0.3s ease-in;
  background-color: #8b0c0c;
  border-radius: 0 0 0 15px;
  display: none;
}
.filter-show-button {
  position: absolute;
  transform: translateX(-99%);
  font-weight: 600;
  font-size: 1.25em;
  min-width: 40px;
  height: 40px;
  border-radius: 100% 0 0 100%;
  cursor: pointer;
  background-color: #8b0c0c;
  color: #f4f4f4;
}
.filter-show-icon {
  width: 10px;
  height: 10px;
}
.filter-show {
  animation: fade-left 0.4s;
  transform: translateX(-100%);
}

@keyframes fade-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@media (min-width: 768px) {
  .back-button,
  .next-button {
    padding: 15px;
    font-size: 1.25em;
  }
  .search-container {
    gap: 20px;
    width: 400px;
    right: 30px;
  }
  .logo {
    height: 70px;
  }
  .search-input {
    width: 320px;
  }
  .search-container::before,
  .search-container::after {
    width: 114%;
  }
}
@media (min-width: 1024px) {
  .back-button,
  .next-button {
    transition: all 0.1s ease-in;
  }
  .back-button:hover,
  .next-button:hover {
    color: #f4f4f4;
    background-color: #201d1d;
  }
  .back-button {
    left: 25px;
  }
  .next-button {
    right: 25px;
  }
  .search-container {
    right: 50%;
    transform: translateX(50%);
  }
  .search-button {
    transition: all 0.1s ease-in;
  }
  .search-button i {
    transition: all 0.1s ease-in;
  }
  .search-button:hover > i {
    color: #f4f4f4;
  }
  .search-button:hover {
    background-color: #201d1d;
  }
}
